In [1]:
student_name = {'A' : 70,'B': 80,'C':90,'D':95,'E':75}
student_name.keys()
student_name.values()

for i in student_name.keys():
    print(i,"=",student_name[i])

A = 70
B = 80
C = 90
D = 95
E = 75

In [2]:
student_name['B']

80

In [3]:
student_name.items()

dict_items([('A', 70), ('B', 80), ('C', 90), ('D', 95), ('E', 75)])

In [4]:
for k,v in student_name.items():
    print(k,v)

A 70
B 80
C 90
D 95
E 75

In [5]:
student_name.copy()

{'A': 70, 'B': 80, 'C': 90, 'D': 95, 'E': 75}

In [6]:
10 and 20

20

In [7]:
0 and 20

0

In [8]:
'' and 20

''

In [9]:
10 or 20

10

In [10]:
0 or 20

20

In [13]:
a = int(input('first number'))
b = int(input('second number'))
c = int(input('third number'))

min_= a if a<b and b<c else b if b<c else c
print(min_)

first number67
second number45
third number98
45

In [16]:
j = 0
k = 'surendra upadhyay'
for i in k:
    print(j,i)
    j += 1

0 s
1 u
2 r
3 e
4 n
5 d
6 r
7 a
8
9 u
10 p
11 a
12 d
13 h
14 y
15 a
16 y

In [38]:

for i in range(9
              ):
    print(i)

0
1
2
3
4
5
6
7
8

In [49]:
def sum_sub(a,b):
    sum = a+b
    sub = a-b
    return sum,sub
x ,y = sum_sub(12,34)
print('the sum is:',x)
print('the sub is :',y)

the sum is: 46
the sub is : -22

In [42]:
sum_sub(11,23)

(34, -12)

In [53]:
def wish (name,age):
    print('hello',name,age)
wish(name = 'suri,happy birthday', age = "you are now 25")

hello suri,happy birthday you are now 25

In [65]:
def a1(**kwargs):
    print(kwargs)

In [66]:
a1(car= 'suzuyki' , mpg =45, year =2002)

{'car': 'suzuyki', 'mpg': 45, 'year': 2002}

In [68]:
s = lambda a,b :a if a>b else b

In [71]:
s(23,45)

45

In [72]:
import pandas as pd

In [88]:
l =[12,34,56,78,90,13,1,4,45,677]
l ,type(l)

([12, 34, 56, 78, 90, 13, 1, 4, 45, 677], list)

In [89]:
s = pd.Series(l)
s,type(s)

(0     12
 1     34
 2     56
 3     78
 4     90
 5     13
 6      1
 7      4
 8     45
 9    677
 dtype: int64,
 pandas.core.series.Series)

In [91]:
d = pd.DataFrame(l)
d

     0
0   12
1   34
2   56
3   78
4   90
5   13
6    1
7    4
8   45
9  677