In [1]:
y=0 
y=y+1
print(y)

1

In [2]:
s = 'hello suri'
y= 0
for x in s:
    print(x,y)
    y = y+1

h 0
e 1
l 2
l 3
o 4
  5
s 6
u 7
r 8
i 9

In [7]:

h= "happy diwali"
t= len(h)-1
for i in h[::-1]:
    print(i,t)
    t=t-1

i 11
l 10
a 9
w 8
i 7
d 6
  5
y 4
p 3
p 2
a 1
h 0

In [8]:
s= 'durga pooja'
print('ga' in s)

True

In [9]:
i= input()

today

In [10]:
name= input('enter your name=') #input bydefult will be string data type

enter your name=suri

In [11]:
type(name)

str

In [18]:
mobile_no = int(input('enter your mobile no='))
print("the mobile no is",mobile_no)

enter your mobile no=7742562446
the mobile no is 7742562446

In [19]:
type(mobile_no)

int

In [20]:
t= 10
h= float(t)
type(h)

float

In [25]:
age = int(input('enter your age in years='))
print(f'the agr is {age} years')

enter your age in years=25
the agr is 25 years

In [2]:
city= input('enter your city ')
c  = city.lstrip()
print(city)
print(c)

enter your city kota
kota
kota

In [5]:
s = 'india won the match'
s1 = s.replace('won' ,'loss')
print(s)
print(s1)

india won the match
india loss the match

In [16]:
k = 'pyton-software-foundation'
l =k.split(sep ='_')
print(l)

['pyton-software-foundation']

In [20]:
name= 'suri'
salary= 10000000
age = 25
print("{1}'s salary is {0} and his age is {2}".format(name,salary,age))

10000000's salary is suri and his age is 25